body{
    margin: 0;
    padding: 0;
}
.container{
    z-index: 9999;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f3245580;
    color: black;
    align-items: center;
}
a {
    color: black;
    text-decoration: none;
}
.items{
    width: 40vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    background-color: purple;
    color: white;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    background-color: purple;
    color: white;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 476px){
    .container{
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #f3245580;
        color: black;
    }
}